RPC_PROXY_BASE_URL="https://studio.arc.io"
RPC_PROXY_TOKEN=""
RPC_PROXY_CHAINS="Ethereum,Arbitrum,Avalanche,Base,Optimism,Polygon,World_Chain,Celo,ZKSync_Era,Cronos,Plasma,Arc,Ethereum_Sepolia,Arbitrum_Sepolia,Avalanche_Fuji,Base_Sepolia,Optimism_Sepolia,Polygon_Amoy_Testnet,World_Chain_Sepolia,Celo_Alfajores_Testnet,ZKSync_Sepolia,Cronos_Testnet,Plasma_Testnet,Arc_Testnet"
